/* 
    DATE: 11/15/2021
    NAME: Takahiro Suzuki

    This is CSS stylesheet for all the pages to look pretty :)
 */

body {
    margin: 0;
    padding: 0;
    background: #1f364d;
    background-image: url("../images/background_img.jpg");  
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

/* Header and Navbar TOP */
    header {
        background: #1f364d;
    }
    header h1 {
        color: rgb(255, 255, 255);
        padding: 60px;
        margin: 0;
    }
    nav {
        background: #282A35;
        height: 44px;
        font-size: 17px;
        font-family: 'Source Sans Pro', sans-serif;
        box-sizing: border-box;
    }
    nav a {
        display: inline-block;
        color: #F1F1F1;
        padding: 12px 5%;
        margin: 0 -2.5px;
    }
    nav a:hover {
        background: #000000;
    }
    /* Mark active page */
    .active {
        background: #04AA6D;
    }
/* Header and Navbar END */

footer {
    background: #1f364d;
    
}
footer p {
    margin: 0;
    padding: 30px;
    color: #ffffff;
}

.main_content {
    display: inline-block;
    background: #282A35;
    border-radius: 15px;
    margin: 30px 0;
    width: clamp(400px, 80%, 1000px);
}